<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<style>
body,h1 {
  font-family: "Raleway", sans-serif
}
body{
  background-color:black;

}
body, html {height: 100%}
</style>

<body >
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
<h2>Your codes are:</h2><br>
<h3>Type 1-5%discount  </h3>
<h3>Type 2-10%discount  </h3>
<h3>Type 3-15%discount</h3><br>
<% for(var i=0;i<result.length;i++){%>
<form method="post" action="/applycode">
   
    <div class="w3-third w3-container w3-margin-bottom" style="padding: 10px">
      <div class="w3-container w3-white" style="padding: 10px">
    <input type="text" name="code" value="<%=result[i].code%>"style="width:250px;" disabled>
    <input type="hidden" name="code" value="<%=result[i].code%>">
    <br>
    <input type="number" name="type" value="<%=result[i].type%>"style="width:250px;" disabled>
    <input type="hidden" name="type" value="<%=result[i].type%>">
    <input type="hidden" name="price" value="<%=price%>">
    <br>
    <button type="submit">Use the code</button>
      </div>
    </div>

</form>
<% } %>

  </div>
  
</body>
</html>
